*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1a1919;
}

h2{
    position: relative;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
}

h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 110%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #1a1919 5%, #1a1919 100%);
    animation: animate 5s linear forwards;
}

@keyframes animate {
    0%{
        left: 0%;
    }

}

h2 span{
    color: rgb(185, 27, 27);
}