body{
    margin: 0;
    padding: 0;
    background: #2c3e50 ;
    font-family: sans-serif;
}

.login-box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 5px;
}

.login-box h1{
    color: white;
    font-weight: lighter;
    letter-spacing: 2px;
}


.login-box input[type="text"], .login-box input[type="password"]{
    background: none;
    outline: none;
    border: none;
    color: white;
    display: block;
    width: 200px;
    text-align: center;
    padding: 10px 8px;
    margin: 20px auto;
    border: 3px solid #3498db;
    border-radius: 25px;
    transition: .25s;
}

.login-box input[type="text"]:focus, .login-box input[type="password"]:focus{
    width: 80%;
    border-color: #4caf50;
}

.login-box input[type="submit"]{
    background: none;
    outline: none;
    display: block;
    color: white;
    
    margin: 20px auto;
    padding: 10px 40px;
    text-align: center;
    cursor: pointer;
    border: 3px solid #4caf50;
    border-radius: 25px;
    transition: .25s;
}

.login-box input[type="submit"]:hover{
    background: #4caf50;
}